$gray: gray;
$light-color: white;
$main-color: rgb(48, 50, 54);

#main-banner {
    height: 60px;
    background-color: $main-color;
}

#main-title {
    font-family: Arial, Helvetica, sans-serif;
    color: $light-color;
}

#main-logo {
    margin: 0 10px 10px;
}